{% extends "base.html" %}
{% block header %}
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=7qadvs8zk37lv98mlp861b6hdynk7z28uc0g1kadm87rnf38"></script>
    <script>
        tinymce.init({
            width: "300",
            height: "600",
            selector: 'textarea',
            plugins: 'autosave advlist autolink link image lists charmap print preview autoresize charmap template',
            toolbar: 'undo redo | styleselect | bold italic underline | numlist bullist charmap | restoredraft template',
            autoresize_max_height: 1000,
            autoresize_min_height: 500,
            autosave_interval: "20s",
            templates: [
                {
                    title: 'Basic Letter',
                    description: 'Simple Discharge Template',
                    content: '<h3>History</h3> <br> <h3>Examination</h3> <br> ' +
                        '<h3>Investigations</h3> <br> <h3>Working Diagnosis</h3> <br> <h3>Plan</h3> <p>Discussed red flags and safety net</p>'
                },
                {title: 'Some title 2', description: 'Some desc 2', url: 'development.html'}]
        });
    </script>
    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}
{% endblock %}


{% block content %}
    <h1>New Consultation</h1>
    {% load crispy_forms_tags %}
    <div class="row justify-content-left width:300px">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-2 mb-0">
                    {{ form.uid|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.date_of_birth|as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2 mb-0">
                    {{ form.sex|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                    {{ form.post_code|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.date_of_contact|as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.diagnosis|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.location|as_crispy_field }}
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ form.specialty|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.supervision|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                    {{ form.sentiment|as_crispy_field }}
                </div>
            </div>

            {{ form.notes|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
{% endblock %}